/* General Body Styling */
body {
    background-color: rgb(227, 202, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #074279;
    text-align: center;
    margin: 15px;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
}

#result-text {
    font-size: 1.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;

}

/* Button Styling */
.button {
    font-size: 90px;
    border-radius: 50%;
    margin: 20px 10px;
    padding: 10px;
    width: 140px;
    height: 140px;
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    color:#00008b;
}
.button > p {
    font-size: 25px;
    text-transform: uppercase;
    color: #00008b;
    text-align: center;
}

.button :hover {
    color: rgb(30, 124, 30);
    transition: 0.3s;
}

.button:hover > p {
    text-decoration: double;
} 

.button :active {
    color: rgba(21, 88, 21, 0.7);    
}



/* Score Area styling */
.score-area {
    margin: 30px auto;
    width: 75%;
    font-size: 25px;
}

.scores {
    display: inline-block;
    padding: 25px;
    color: rgb(78, 78, 78);
}

#user-score {
    color: #008000;
    font-weight: bold;
}

#computer-score {
    color: #ff0000;
    font-weight: bold;
}


/* --------- Media queries */

@media (max-width: 507px) {



    /* Heading */

.heading {
    font-size:1.8rem;
    padding: 10px;
}

#result-text {
    font-size: 1.1rem;
}


/* Button Styling */
.button {
    font-size: 55px;
    margin: 15px 15px;
    width: 90px;
    height: 90px;
    padding: 15px;
}

.button > p {
    font-size: 18px;
    /*text-align: center;*/
}



/* Score area */

.score-area {
    margin: 18px auto 6px;
    font-size: 1.1rem;
}

.scores {
    padding: 7px;
    margin: 10px;
    display: block;
}

.scores > p {
    margin: 10px;
}

#computer-score {
    margin-top: 5px;
}


}
/*Media queries for screens smaller than 390px */
@media (max-width: 390px) {
    .heading {
        font-size:1.4rem;
        padding: 10px;
    }


    #result-text {
        font-size: 0.9rem;
    }

    .button {
        font-size: 40px;
        margin: 10px 10px 23px;
        width: 70px;
        height: 70px;
        /*padding: 15px; */
    }
    .button > p {
        font-size: 16px;
    }
}
