body {
    background-color: rgb(201, 223, 232);
    font-family: stylus, sans-serif;
    color: #074279;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

.button {
    font-size: 90px;
    border-radius: 50%;
    padding: 20px;
    width: 140px;
    height: 140px;
    text-align: center;
}
