/* General Body Styling */
body {
    background-color: rgb(201, 223, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #074279;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
}

#result-text {
    font-size: 1.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;

}

/* Button Styling */
.button {
    font-size: 90px;
    border-radius: 50%;
    margin: 20px 10px;
    padding: 10px;
    width: 140px;
    height: 140px;
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    color:#00008b;
}
.button > p {
    font-size: 25px;
    text-transform: uppercase;
    color: #00008b;
}

.button :hover {
    color: rgb(30, 124, 30);
    
}
.button:hover > p {
    font-size: 25px;
    text-transform: uppercase;
    
   
   
}

.button :active {
    color: rgba(21, 88, 21, 0.7);
    
}



/* Score Area styling */
.score-area {
    margin: 30px auto;
    width: 75%;
    font-size: 1.3rem;
}

.scores {
    display: inline-block;
    padding: 25px;
    color: rgb(78, 78, 78);
}

#user-score {
    color: #008000;
    font-weight: bold;
}

#computer-score {
    color: #ff0000;
    font-weight: bold;
}

